.banner {
  padding-top: pxToRem(72);
  padding-bottom: pxToRem(64);
  min-height: pxToRem(336);
  display: flex;
  align-items: center;

  .banner-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gradient {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  .content-wrapper {

    .banner-arrows {
      width: pxToRem(64);
      height: pxToRem(77);
      margin-right: pxToRem(36);
    }
  }
}


@media (max-width: $md-breakpoint) {
  .banner {
    padding-top: pxToRem(150);
    padding-bottom: pxToRem(140);
    min-height: pxToRem(700);
    display: flex;
    align-items: center;

    .banner-bg {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .content-wrapper {

      .banner-arrows {
        width: pxToRem(120);
        height: pxToRem(144);
        margin-right: pxToRem(36);
      }
    }
  }

}
