.content-strip {
  .content-wrapper {
    gap: pxToRem(170);
    padding: pxToRem(72) pxToRem(80) pxToRem(72) pxToRem(109);

    .cta-btn {
      gap: pxToRem(14);
      font-size: pxToRem(16);
      line-height: pxToRem(16);
      padding: pxToRem(26) pxToRem(35) pxToRem(26) pxToRem(32);

      .btn-text {

      }

      .btn-icon {
        width: pxToRem(12);
        height: pxToRem(12);
      }
    }
  }
}


@media (max-width: $md-breakpoint) {
  .content-strip {
    text-align: center;

    .content-wrapper {
      gap: pxToRem(100) 0;
      padding: pxToRem(100) pxToRem(80) pxToRem(140) pxToRem(109);

      .cta-btn {
        gap: 0 pxToRem(30);
        font-size: pxToRem(16);
        line-height: pxToRem(16);
        padding: pxToRem(30) pxToRem(70);

        .btn-text {

        }

        .btn-icon {
          width: pxToRem(54);
          height: pxToRem(54);
        }
      }
    }
  }
}
