.content-list-with-image {
  padding-top: pxToRem(100);
  padding-bottom: pxToRem(100);

  .head-wrapper {
    margin-bottom: pxToRem(42);

    .title-container {
      .title {
        margin-bottom: pxToRem(4);
      }

      .sub-title {
        line-height: pxToRem(21);
        max-width: pxToRem(418);
      }
    }

    .view-all-link {
      gap: 0 pxToRem(8);

      .redirect-icon {
        width: pxToRem(24);
        height: pxToRem(24);
      }
    }
  }

  .main-wrapper {
    gap: 0 pxToRem(36);

    .image-wrapper {
      width: 100%;
      max-width: pxToRem(407);

      .main-image {
        width: 100%;
        height: 100%;
      }
    }

    .content-wrapper {
      .item {
        opacity: 0.7;
        gap: 0 pxToRem(20);
        transition: all 0.2s ease-in;
        padding: pxToRem(33) pxToRem(20) pxToRem(34) pxToRem(24);
        border-bottom: pxToRem(1) solid #ddd;

        &:hover {
          opacity: 1;
        }

        .content-title {
          font-size: pxToRem(18);
          line-height: pxToRem(25);
          letter-spacing: -0.02em;
          max-width: pxToRem(184);

          .redirect-icon-2 {
            display: none;
            cursor: pointer;
          }
        }

        .content-description {

        }

        .redirect-icon {
          cursor: pointer;
          width: pxToRem(32);
          height: pxToRem(32);
          margin-left: pxToRem(9);
        }
      }
    }
  }
}



@media (max-width: $md-breakpoint) {
  .content-list-with-image {
    padding-top: pxToRem(120);
    padding-bottom: pxToRem(180);

    .head-wrapper {
      margin-bottom: pxToRem(100);
      text-align: center;

      .title-container {
        margin-bottom: pxToRem(50);

        .title {
          margin-bottom: pxToRem(26);
        }

        .sub-title {
          line-height: pxToRem(21);
          max-width: 90%;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .view-all-link {
        gap: 0 pxToRem(36);
        justify-content: center;

        .redirect-icon {
          width: pxToRem(60);
          height: pxToRem(60);
        }
      }
    }

    .main-wrapper {
      gap: 0 pxToRem(36);

      .image-wrapper {
        width: 100%;
        max-width: 100%;
        max-height: 350px;
        overflow: hidden;
        margin-bottom: pxToRem(80);

        .main-image {
          width: 100%;
          height: 100%;
        }
      }

      .content-wrapper {
        .item {
          opacity: 0.7;
          gap: 0 pxToRem(30);
          transition: all 0.2s ease-in;
          padding: pxToRem(55) pxToRem(40);
          border-bottom: pxToRem(5) solid #ddd;

          &:hover {
            opacity: 1;
          }

          .content-title {
            font-size: pxToRem(64);
            line-height: pxToRem(84);
            letter-spacing: -0.02em;
            margin-bottom: pxToRem(30);
            max-width: 100%;
            font-weight: 500;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .redirect-icon-2 {
              display: block;
            }
          }

          .content-description {

          }

          .redirect-icon {
           display: none;
          }
        }
      }
    }
  }
}
