.content-with-video-2 {
  padding-top: pxToRem(80);
  padding-bottom: pxToRem(80);
  gap: pxToRem(51);
  align-items: center;

  .content-wrapper {

    .section-title {
      font-weight: 500;
      font-size: pxToRem(40);
      line-height: pxToRem(46);
      letter-spacing: -0.02em;
      max-width: 100%;
      margin-bottom: pxToRem(28);
    }

    .description {
      color: #5E646D;
      font-size: pxToRem(16);
      line-height: pxToRem(29);
      letter-spacing: -0.03em;
    }
  }

  .video-wrapper {
    .thumbnail-image {
      width: 100%;
    }

    .play-icon {
      width: pxToRem(93);
      height: pxToRem(93);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}



@media (max-width: $md-breakpoint) {
  .content-with-video-2 {
    padding-top: pxToRem(170);
    padding-bottom: pxToRem(180);
    gap: pxToRem(51);
    align-items: center;
    display: flex;
    flex-direction: column-reverse;

    .content-wrapper {
      margin-bottom: pxToRem(50);

      .section-title {
        font-weight: 500;
        font-size: pxToRem(86);
        line-height: pxToRem(120);
        letter-spacing: -0.02em;
        max-width: 100%;
        margin-bottom: pxToRem(58);
      }

      .description {
        color: #5E646D;
        font-size: pxToRem(60);
        line-height: pxToRem(104);
        letter-spacing: -0.03em;
      }
    }

    .video-wrapper {

      .thumbnail-image {
        width: 100%;
      }

      .play-icon {
        width: pxToRem(300);
        height: pxToRem(300);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
