.contact-form {

  .image-wrapper {
    width: 100%;
    max-width: pxToRem(788);

    .main-image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .content-wrapper {
    padding: pxToRem(84) pxToRem(135) pxToRem(74) pxToRem(72);

    .title {
      margin-bottom: pxToRem(32);
    }

    .form-wrapper {
      display: flex;
      flex-direction: column;
      gap: pxToRem(16);

      .input-wrapper {

        .input {
          width: 100%;
          color: $white;
          background: #262F3B;
          padding: pxToRem(20);
          border: pxToRem(1) solid #556171;

          &:hover, &:focus-within, &:focus {
            outline: none;
            box-shadow: none;
          }
        }

        .submit-btn {
          width: 100%;
          margin-top: pxToRem(30);
          padding-top: pxToRem(20);
          padding-bottom: pxToRem(18);
        }
      }
    }

    .list-items {
      display: flex;
      flex-direction: column;
      gap: pxToRem(10);
      padding-left: pxToRem(15);
      list-style-type: square;
      margin-bottom: pxToRem(30);

      li {
        color: $white;
      }
    }
  }
}



@media (max-width: $md-breakpoint) {
  .contact-form {

    .image-wrapper {
      width: 100%;
      max-width: 100%;

      .main-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .content-wrapper {
      padding: pxToRem(140) pxToRem(60) pxToRem(180);

      .title {
        margin-bottom: pxToRem(80);
      }

      .form-wrapper {
        display: flex;
        flex-direction: column;
        gap: pxToRem(50);

        .input-wrapper {

          .input {
            width: 100%;
            color: $white;
            font-size: pxToRem(60);
            line-height: pxToRem(80);
            background: #262F3B;
            padding: pxToRem(40);
            border-radius: 0;
            border: pxToRem(1) solid #556171;

            &:hover, &:focus-within, &:focus {
              outline: none;
              box-shadow: none;
            }
          }

          .submit-btn {
            width: 100%;
            font-size: pxToRem(60);
            line-height: pxToRem(80);
            margin-top: pxToRem(50);
            padding-top: pxToRem(50);
            padding-bottom: pxToRem(50);
          }
        }
      }

      .list-items {
        margin-top: pxToRem(30);
        display: flex;
        font-size: pxToRem(54);
        flex-direction: column;
        gap: pxToRem(20);
        padding-left: pxToRem(50);
        list-style-type: square;
        margin-bottom: pxToRem(75);

        li {
          color: $white;
        }
      }
    }
  }
}
