.footer {
  .main-wrapper {
    padding-top: pxToRem(72);
    margin-bottom: pxToRem(67);
    border-top: pxToRem(1) solid #ddd;

    .footer-title {
      font-weight: 500;
      font-size: pxToRem(20);
      line-height: pxToRem(25);
      letter-spacing: -0.02em;
      margin-bottom: pxToRem(24);
    }

    .content {
      font-weight: 300;
      opacity: 0.7;

      .link {
        margin-bottom: pxToRem(10);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .logo-wrapper {
      margin-right: pxToRem(76);

      .logo {
        width: pxToRem(126);
        height: pxToRem(39);
      }
    }

    .address-wrapper {
      width: 100%;
      white-space:break-spaces;
      max-width: pxToRem(251);
      margin-right: pxToRem(113);

      .content {
        p {
          margin-bottom: pxToRem(10);

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .posts-wrapper {
      margin-right: pxToRem(109);
    }

    .social-links-wrapper {
      margin-right: pxToRem(98);

      .content {
        opacity: 1;
        gap: 0 pxToRem(22);
      }

      .social-icon {
        cursor: pointer;
        width: pxToRem(24);
        height: pxToRem(24);
      }
    }

    .pursue-wrapper {

    }
  }

  .images-wrapper {
    gap: pxToRem(50);
    align-items: center;
    padding-top: pxToRem(44);
    padding-bottom: pxToRem(44);
    border-top: pxToRem(1) solid #ddd;

    .image-container {
      text-align: center;

      .image {
        width: 100%;
        max-width: pxToRem(220);
        margin: auto;
        max-height: pxToRem(75);
      }

      .rating-image {
        width: 100%;
        transform: scale(0.9);

        iframe {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  .copyright-wrapper {
    padding-top: pxToRem(32);
    padding-bottom: pxToRem(19);
    border-top: pxToRem(1) solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      line-height: pxToRem(25);

      &.description {
        //margin-right: pxToRem(20);
        margin-right: auto;
      }
    }

    .footer-link-item {
      margin-left: pxToRem(20);
      margin-right: pxToRem(20);

      &:last-child {
        margin-right: 0;
      }
    }
  }
}



@media (max-width: $md-breakpoint) {
  .footer {
    .main-wrapper {
      padding-top: pxToRem(72);
      margin-bottom: pxToRem(67);
      border-top: pxToRem(1) solid #ddd;

      .footer-title {
        font-weight: 500;
        font-size: pxToRem(64);
        line-height: pxToRem(80);
        letter-spacing: -0.02em;
        margin-bottom: pxToRem(20);
      }

      .content {
        font-weight: 300;
        opacity: 0.7;
        margin-bottom: pxToRem(100);

        .link {
          font-size: pxToRem(58);
          line-height: pxToRem(120);
          margin-bottom: pxToRem(10);

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .logo-wrapper {
        margin-right: 0;
        margin-bottom: pxToRem(100);

        .logo {
          width: pxToRem(450);
          height: pxToRem(150);
        }
      }

      .address-wrapper {
        width: 100%;
        max-width: 100%;
        margin-right: pxToRem(113);

        .content {
          p {
            margin-bottom: pxToRem(10);

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      .posts-wrapper {
        margin-right: pxToRem(109);
      }

      .social-links-wrapper {
        margin-right: pxToRem(98);

        .content {
          opacity: 1;
          gap: 0 pxToRem(60);
          padding-top: pxToRem(30);
        }

        .social-icon {
          cursor: pointer;
          width: pxToRem(120);
          height: pxToRem(120);
        }
      }

      .pursue-wrapper {

      }
    }

    .images-wrapper {
      flex-direction: column;
      gap: pxToRem(80);
      padding-top: pxToRem(80);
      padding-bottom: pxToRem(80);
      border-top: pxToRem(1) solid #ddd;

      .image-container {
        .image {
          max-width: pxToRem(550);
          max-height: 100%;
          width: 100%;
          height: 100%;
          margin: auto;
        }
      }
    }

    .rating-image {
      iframe {

      }
    }

    .copyright-wrapper {
      display: flex;
      flex-direction: column-reverse;
      align-content: center;
      padding-top: pxToRem(80);
      padding-bottom: pxToRem(100);
      border-top: pxToRem(1) solid #ddd;

      .description {
        margin-left: auto;
        margin-right: auto;
      }

      .footer-link-items-wrapper {
        display: flex;
        margin-bottom: pxToRem(20);
        gap: pxToRem(25);
        justify-content: center;
      }

      p {
        line-height: pxToRem(25);
      }
    }
  }

}
