.team {
  padding-top: pxToRem(84);
  padding-bottom: pxToRem(88);

  .title {
    margin-bottom: pxToRem(44);
  }

  .team-content-wrapper {
    text-align: center;
    gap: pxToRem(39);

    .image-wrapper {
      position: relative;
      width: pxToRem(180);
      height: pxToRem(180);
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: pxToRem(28);

      .person-image {
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }

      &:before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 50%;
        z-index: 90;
        opacity: 0;
        background: linear-gradient(0deg, rgba(27, 36, 49, 0.5), rgba(27, 36, 49, 0.5));
        transition: opacity 0.2s ease-in-out;
      }

      .social-wrapper {
        position: absolute;
        align-items: center;
        top: 50%;
        left: 50%;
        width: max-content;
        transform: translate(-50%, 0);
        padding: pxToRem(8) pxToRem(10);
        border-radius: 70px;
        gap: pxToRem(16);
        z-index: 100;
        opacity: 0;
        background-color: rgba(255, 255, 255, 0.8);
        transition: opacity 0.2s ease-in-out;

        .social-link {

          .social-icon {
            width: pxToRem(16);
            height: pxToRem(16);
          }
        }
      }

      &:hover {
        &:before {
          opacity: 1;
        }

        .social-wrapper {
          opacity: 1;
        }
      }
    }

    .name {
      color: $primary2;
      font-size: pxToRem(24);
      line-height: pxToRem(24);
      font-weight: 500;
      margin-bottom: pxToRem(12);
    }

    .position {
      color: $primary2;
      max-width: pxToRem(200);
      margin-left: auto;
      margin-right: auto;
    }
  }
}



@media (max-width: $md-breakpoint) {
  .team {
    padding-top: pxToRem(180);
    padding-bottom: pxToRem(180);

    .title {
      margin-bottom: pxToRem(90);
    }

    .team-content-wrapper {
      text-align: center;
      gap: pxToRem(100);

      .image-wrapper {
        position: relative;
        width: pxToRem(650);
        height: pxToRem(650);
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: pxToRem(40);

        .person-image {
          border-radius: 50%;
          width: 100%;
          height: 100%;
        }

        &:before {
          content: '';
          position: absolute;
          inset: 0;
          border-radius: 50%;
          z-index: 90;
          opacity: 0;
          background: linear-gradient(0deg, rgba(27, 36, 49, 0.5), rgba(27, 36, 49, 0.5));
          transition: opacity 0.2s ease-in-out;
        }

        .social-wrapper {
          position: absolute;
          align-items: center;
          top: 50%;
          left: 50%;
          width: max-content;
          transform: translate(-50%, 0);
          padding: pxToRem(24) pxToRem(30);
          border-radius: 70px;
          gap: pxToRem(48);
          z-index: 100;
          opacity: 0;
          background-color: rgba(255, 255, 255, 0.8);
          transition: opacity 0.2s ease-in-out;

          .social-link {

            .social-icon {
              width: pxToRem(64);
              height: pxToRem(64);
            }
          }
        }

        &:hover {
          &:before {
            opacity: 1;
          }

          .social-wrapper {
            opacity: 1;
          }
        }
      }

      .name {
        color: $primary2;
        font-size: pxToRem(64);
        line-height: pxToRem(64);
        font-weight: 500;
        margin-bottom: pxToRem(12);
      }

      .position {
        color: $primary2;
        font-size: pxToRem(50);
        line-height: pxToRem(80) !important;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
