.top-services {
  padding-top: pxToRem(50);
  padding-bottom: pxToRem(97);

  .title {
    margin-bottom: pxToRem(40);
  }

  .accordion-wrapper {
    gap: pxToRem(2) 0;
  }

  .faq-item {
    .question-wrapper {
      gap: 0 pxToRem(53);
      padding: pxToRem(32) pxToRem(36) pxToRem(32) pxToRem(56);
      user-select: none;
      cursor: pointer;

      .question-icon {
        width: pxToRem(32);
        height: pxToRem(32);
      }

      .question {
        font-size: pxToRem(20);
        line-height: pxToRem(26);
      }

      .arrow-container {
        width: pxToRem(40);
        height: pxToRem(40);
        border-radius: 50%;
        transition: background-color 0.25s;

        &.active {
          background-color: #eee;
        }

        .arrow-icon {
          width: pxToRem(32);
          height: pxToRem(32);
          position: relative;
          //top: pxToRem(2);
          transition: all 0.25s;

          &.active {
            transform: rotate(180deg);
          }
        }
      }
    }

    .content-wrapper {
      height: 0;
      overflow: hidden;
      transition: all 0.2s ease-in;
    }

    .answer-wrapper {
      gap: pxToRem(28);
      padding: 0 pxToRem(36) pxToRem(32) pxToRem(56);

      .content-container {
        width: 100%;
        padding-left: pxToRem(85);
        padding-right: pxToRem(62);
        line-height: pxToRem(28);
        opacity: 0.7;
      }
    }
  }
}


@media (max-width: $md-breakpoint) {
  .top-services {
    padding-top: pxToRem(120);
    padding-bottom: pxToRem(180);

    .title {
      margin-bottom: pxToRem(100);
    }

    .accordion-wrapper {
      gap: pxToRem(30) 0;
    }

    .faq-item {
      .question-wrapper {
        gap: 0 pxToRem(53);
        padding: pxToRem(64) pxToRem(56) pxToRem(64) pxToRem(56);
        user-select: none;
        cursor: pointer;

        .question-icon {
          width: pxToRem(90);
          height: pxToRem(90);
        }

        .question {
          font-size: pxToRem(58);
          line-height: pxToRem(90);
        }

        .arrow-container {
          width: pxToRem(96);
          height: pxToRem(96);
          border-radius: 50%;
          transition: background-color 0.25s;

          &.active {
            background-color: #eee;
          }

          .arrow-icon {
            width: pxToRem(80);
            height: pxToRem(80);
            position: relative;
            //top: pxToRem(2);
            transition: all 0.25s;

            &.active {
              transform: rotate(180deg);
            }
          }
        }
      }

      .content-wrapper {
        height: 0;
        overflow: hidden;
        transition: all 0.2s ease-in;
      }

      .answer-wrapper {
        gap: pxToRem(53);
        padding: 0 pxToRem(56) pxToRem(64) pxToRem(56);

        .content-container {
          width: 100%;
          padding-bottom: pxToRem(60);
          margin-top: pxToRem(40);
          font-size: pxToRem(54);
          line-height: pxToRem(90);
          opacity: 0.7;
        }
      }
    }
  }

}
