$baseWidth: 1440;
$baseFont: 14;

$md-breakpoint: "767px";

$primary: #182E46;
$primary2: #1B2431;
$secondary: #FF7A00;
$bg-dark: #F9F9F9;
$light: #F9F9F9;
$dark: #1C1C1C;
$white: #fff;
$black: #000;
$yellow: #FFC92A;
$blue: #1E1CA4;
$gray: #4F4F4F;
$text-dark: #1C1C1C;
$navy-blue: #22233F;
